.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  color: #333;
  font-weight: 600;
}

.container h1 {
  font-size: 17px;
}

.container h1 {
  display: table;
  margin: 0 auto;
  color: #333;
  font-family: cursive;
  font-weight: 900;
  font-size: 30px;
}
